.burger 
	.burger_bg.burger_remove 
	.burger_main
		.burger_line 
			<svg viewBox="0 0 141 1105" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M102.588 -3C128.818 128.432 153.411 353.459 74.6444 550.771C-16.2301 778.413 10.6842 983.058 46.0108 1109" stroke="url(#paint0_linear_1321_974)" stroke-width="25"/>
				<defs>
				<linearGradient id="paint0_linear_1321_974" x1="70.5" y1="-115.062" x2="70.5" y2="1239.53" gradientUnits="userSpaceOnUse">
				<stop stop-color="#AB47C4"/>
				<stop offset="1" stop-color="#55ECFD"/>
				</linearGradient>
				</defs>
			</svg>
		.burger_close.burger_remove 
			+icon('close')
		ul.burger_menu 
			each item in ['О компании', 'Услуги', 'Акции', 'Портфолио', 'Контакты']
				li.burger_remove 
					a(href="#")=item
		.burger_main--bottom
			nav 
				ul.burger_social--list 
					each item in ['social_1', 'social_2', 'social_3']
						li 
							a(href="#")
								+icon(item)
			ul.burger_number 
				a(href="#") 8 (988) 353-43-15 

.callback.popup 
	.popup_bg.callback_remove 
	.callback_main 
		.close_btn.callback_remove 
			img(src="i/red.svg", alt="Close btn")
		h3 оставьте заявку
		.callback_form
			.callback_input 
				input(type="text" placeholder="Ваше имя")
			.callback_input 
				input(type="tel" placeholder="+ 7 (999) 999-99-99")
			.callback_btn 
				input(type="submit", value="Отправить")
			.callback_check 
				input(type="checkbox", name="callCheck" id="callCheck")
				label(for="callCheck")!='Отправляя данные, вы соглашаетесь c <a href="#">политикой конфиденциальности</a>' 