.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:(29/10)*1rem;
	width:(23/29)*1em;
}
.icon-close {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-service_1 {
	font-size:(68/10)*1rem;
	width:(81/68)*1em;
}
.icon-service_2 {
	font-size:(86/10)*1rem;
	width:(100/86)*1em;
}
.icon-service_3 {
	font-size:(66/10)*1rem;
	width:(74/66)*1em;
}
.icon-slide_btn {
	font-size:(8/10)*1rem;
	width:(22/8)*1em;
}
.icon-social_1 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-social_2 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-social_3 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-test {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
