extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Single service of the page'}
block content_block
	+bread(['Главная'], 'Услуги')
	section.service_hero 
		.section_in 
			.service_hero--main
				.service_hero--svg 
					+pic({
						img: 'i/work/service_bg',
						png: true,
					})
				.service_hero--content 
					h1 УСЛУГИ
					p Не знаете, что выбрать? Оставьте заявку, и мы подскажем
					.btn-standart 
						button.trigger_callback Оставить заявку
				.service_hero--img
					+pic({
						img: 'i/work/service',
						png: true,
					})
	section.service 
		ul.service_list 
			-
				var service = [
					{
						title: 'LANDING PAGE',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'item'
					},
					{
						title: 'сайт визитка',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'item'
					},
					{
						title: 'сайт компании',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'item'
					},
					{
						title: 'интернет магазин',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'item'
					},
					{
						title: 'контекстная реклама',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'afisha_1'
					},
					{
						title: 'SEO продвижение',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'afisha_2'
					},
					{
						title: 'наружная реклама',
						txt: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских.',
						img: 'afisha_3'
					},
				]
			each item in service 
				li
					.section_in 
						.service_item 
							.service_item--content 
								h3=item.title 
								p=item.txt
								.service_btn--w 
									.btn-standart_link 
										a(href="#") Заказать
									.btn-standart_link
										a(href="#") В портфолио
							.service_item--img
								+pic({
									img: `i/${item.img}`,
									png: true,
								})